*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2{
    margin: 10px;
}
button{
    margin: 10px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}